.global-infos {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
}

.price-infos, .first-place, .subt-price, .lottery-date, .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-infos {
    width: 800px;
    gap: 10px;
}

.first-place {
    height: 75px;
}

h4 {
    font-family : Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin: auto;
    text-align: center;
    height: 25px;
}

.subt-price {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lottery-date {
    font-family:'Courier New', Courier, monospace;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}

.lottery {
    text-decoration: solid;
    text-decoration-line: underline;
}

.date {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}

.mail {
    font-style: italic;
    text-decoration: solid; 
} 

.footer {
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 10px;
}

/*.ticket-number {
    display: block;
    height: auto;
    width: auto;
}*/

.ticket-number {
    display: block;
    font-size: 24px;
    font-weight: bold;
    transform: rotateZ(-90deg) translateX(-10px) translateY(150px);
    width: 130px;
    height: auto;
}