.price-infos, .first-place, .subt-price, .lottery-date, .buyer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.first-place {
    height: 75px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: auto;
    text-align: center;
    height: 25px;
}

.subt-price {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lottery-date {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

.buyer {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
}