.form, .form-infos, .form-footer {
    display: flex;
    flex-direction: column;
}

.form {
    justify-content: flex-start;
    margin-top: 5px;
    gap: 5px;
}

.form-infos {
    gap: 5px;
}


.title {
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.data, .data1 {
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
}

.data1 {
    margin-bottom: 10px;
}

.seller {
    margin-top: 5px;
}

.buyer p, .seller p {
    font-size: 10px;
}

.seller p {
    gap: 20px;
}

.form-number {
    display: block;
    height: auto;
    width: auto;
    font-size: 14px;
    text-align: center;
}


.footer p {
    font-size: 9px;
}