.form, .form-infos, .form-footer {
    display: flex;
    flex-direction: column;
}

.form {
    justify-content: flex-start;
    margin-top: 7px;
    gap: 10px;
}

.form-infos {
    margin-top: 10px;
}

.title {
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.data, .data1 {
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
}

.data1 {
    margin-bottom: 17px;
}

.seller {
    margin-top: 5px;
}

.seller p {
    gap: 20px;
}

.form-footer {
    padding-bottom: 15px;
}

.form-number {
    font-size: 18px;
    text-align: center;
}

.footer p {
    font-size: 10px;
}