.form, .form-infos, .form-footer {
    display: flex;
    flex-direction: column;
}

.form {
    justify-content: flex-start;
    margin-top: 10px;
    gap: 5px;
}

.form-infos {
    gap: 7px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.data, .data1 {
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
}

.data1 {
    margin-bottom: 10px;
}

.seller {
    margin-top: 5px;
}

.buyer p, .seller p {
    font-size: 12px;
}

.seller p {
    gap: 20px;
}

.form-footer {
    margin-top: 2px;
}

.form-number {
    height: auto;
    width: auto;
    font-size: 20px;
    text-align: center;
}

.footer p {
    font-size: 10px;
}