.form, .form-infos, .form-footer {
    display: flex;
    flex-direction: column;
}

.form {
    justify-content: flex-start;
    margin-top: 20px;
    gap: 15px;
}

.title {
    font-size: 17px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}

.data {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

.form-number {
    display: block;
    height: auto;
    width: auto;
    font-size: 20px;
    text-align: center;
}

.form-infos {
    gap: 10px;
}

.seller {
    margin-top: 10px;
}

.buyer p, .seller p {
    font-size: 17px;
}