.infos-page, .head {
    display: flex;      
}

.infos-page {
    flex-direction: column;
    border-style: none none none dashed;
    border-left-style: dashed solid;
    height: 100%;
    width: 100%;
}

.head {
    display: flex;
    flex-direction: row; 
    margin-top: 12px;
}

.header-infos {
    width: 100%;
    margin-left: 180px;
}

.span-badge {
    position: relative;
    margin-top: -85px;
}

.badge {
    font-size: 38px;
    font-weight: 800;
    color: aliceblue;
    position: absolute;
    margin-top: -72px;
    margin-left: 18px;
}

.icon {
    height: 90px;
    width: 90px;
    margin-top: 80px;
    margin-right: 50px;
    color: rgb(249, 94, 4);
}