.infos-page, .head {
    display: flex;      
}

.infos-page {
    flex-direction: column;
    border-style: none none none dashed;
    border-left-style: dashed solid;
    height: 100%;
    width: 100%;
}

.head {
    display: flex;
    flex-direction: row; 
    margin-top: 5px;
}

.header-infos {
    width: 100%;
    margin-left: 65px;
}

.span-badge {
    position: relative;
    margin-top: -85px;
}

.badge {
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    margin-top: -55px;
    margin-left: 14px;
}

.icon {
    height: 70px;
    width: 70px;
    margin-top: 85px;
    margin-right: 20px;
    color: yellow;
}