.infos-page, .head {
    display: flex;      
}

.infos-page {
    flex-direction: column;
    justify-content: center;  
    border-style: none none none dashed;
    border-left-style: dashed solid;
    height: 100%;
    width: 100%;
    padding-top: 5px;
}

.head {
    display: flex;
    flex-direction: row; 
    margin-top: 20px;
}

.header-infos {
    width: 100%;
    margin-left: 40px;
}

.span-badge {
    position: relative;
    margin-top: -85px;
}

.badge {
    font-size: 26px;
    font-weight: 800;
    position: absolute;
    margin-top: -45px;
    margin-left: 8px;
}

.icon {
    height: 50px;
    width: 50px;
    margin-top: 90px;
    margin-right: 20px;
    color: yellow;
}