.ticket-page, .left-side, .right-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;  
}

.ticket-page {
    border: black;
    width: 100%;
}
.left-side {
    flex: auto;
    background: url(../assets/left-background.png);
    background-size: 100% 100% ;
}

.right-side {
    flex: 1;
    background: url(../assets/right-background.png) ;
    /*-webkit-background-size: auto;
    -moz-background-size: auto ;
    -o-background-size: auto ;*/
    background-size: 100% 100% ;
}
