.ticket-page, .left-side, .right-side {
    display: flex;
    flex-direction: row;
}

.ticket-page {
    width: 30cm;
    border: #000000;    
}

.left-side {
    width: 35%;
    height: 100%;
    background: url(../assets/left-background.jpeg);
    background-size: 100% 100% ;
}

.right-side {
    width: 65%;
    height: 100%;
    background: url(../assets/right-background.jpeg) ;
    background-size: 100% 100% ;
}
