.ticket-page, .left-side, .right-side {
    display: flex;
    flex-direction: row;
    width: auto;  
}

.ticket-page {
    border: #000000;
    width: 21cm;
    height: 7.5cm;
}
.left-side {
    width: 35%;
    background: url(../assets/left-background.png);
    background-size: 100% 100% ;
}

.right-side {
    width: 65%;
    background: url(../assets/right-background.png) ;
    background-size: 100% 100% ;
}
