.ticket-page, .left-side, .right-side {
    display: flex;
    flex-direction: row;
    width: auto;  
}

.ticket-page {
    border: black;
    width: 1024px;
    height: 400px;
}
.left-side {
    width: 30%;
    background: url(../assets/left-background.png);
    background-size: 100% 100% ;
}

.right-side {
    width: 70%;
    background: url(../assets/right-background.png) ;
    background-size: 100% 100% ;
}
