.global-infos {
    display: flex;
    flex-direction: row;
    width: 97%;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.price-infos, .first-place, .subt-price, .lottery-date, .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-infos {
    width: 95%;
}

.first-place {
    height: auto;
}

h4 {
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin: auto;
    padding-bottom: 5px;
    text-align: center;
    height: auto;
    width: 90%;
}

.subt-price {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
}

.lottery-date, h5 {
    font-family:'Courier New', Courier, monospace;    
    font-weight: 600;
    margin-bottom: 5px;
}

.lottery-date {
    font-size: 13px;
    text-align: center;
}

.lottery-date h5 {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.lottery, .date {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
}

.mail {
    font-style: italic;
    text-decoration: solid; 
} 

.footer {
    font-size: 7px;
    font-weight: 500;
    font-style: italic;
}

.footer p {
    padding-top: 5px;
}

.ticket-number {
    font-size: 22px;
    font-weight: bold;
    transform: rotateZ(-90deg) translateX(-10px) translateY(150px);
    width: 10%;
    margin-top: -10px;
    margin-left: -45px;
}